# Application
wp-content/mu-plugins/*/
wp-content/upgrade

# Dotenv
#.env
#.env.*
#!.env.example

# Vendor (e.g. Composer)
vendor/*
#!vendor/.gitkeep

# Node Package Manager
node_modules

# Theme
.DS_Store
wp-content/themes/vuewp/.sass-cache/*
wp-content/themes/vuewp/css/custom.css
wp-content/themes/vuewp/js/main.min.js
wp-content/themes/vuewp/js/vendor.min.js
.sass-cache/*
