# Application
!wp-content/mu-plugins/*
wp-content/plugins/*
wp-content/upgrade
wp-content/uploads/*

# Dotenv
.env
!.env.example

# Node Package Manager
node_modules

# Theme
.DS_Store
wp-content/themes/vuewp/.sass-cache/*
wp-content/themes/vuewp/css/custom.css
wp-content/themes/vuewp/js/main.min.js
wp-content/themes/vuewp/js/vendor.min.js
wp-content/themes/vuewp/app/static/*
.sass-cache/*
